<h1>You have chosen to Login please provide your email, and password.</h1>
<form action="/users/login" method="POST">
    <div class="field">
        <div class="control">
            <label class="label">Email
                <input class="input" type="email" name="email" placeholder="User Email">
            </label>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label">Password 
                <input class="input" type="password" name="password" placeholder="User Password">
            </label>
        </div>
    </div>
    <button class="button is-primary" type="submit">Login</button>
</form>